{{! Dark Secret item type template }}
<div class='dark-secret-fields'>
  <div class='form-group'>
    <label>{{localize 'NEONRELIC.DarkSecret.XPTrigger'}}</label>
    <input type='text' name='system.xpTrigger' value='{{system.xpTrigger}}' {{disabled (not isEditable)}} />
  </div>

  <fieldset class='exposure-penalties'>
    <legend>{{localize 'NEONRELIC.DarkSecret.ExposurePenalties'}}</legend>
    <div class='form-group'>
      <label>{{localize 'NEONRELIC.DarkSecret.StandingLoss'}}</label>
      <input
        type='number'
        name='system.exposurePenalties.standingLoss'
        value='{{system.exposurePenalties.standingLoss}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='form-group'>
      <label>{{localize 'NEONRELIC.DarkSecret.FactionConsequence'}}</label>
      <input
        type='text'
        name='system.exposurePenalties.factionConsequence'
        value='{{system.exposurePenalties.factionConsequence}}'
        {{disabled (not isEditable)}}
      />
    </div>
  </fieldset>
</div>