{{! Gear item type template }}
<div class='gear-fields'>
  <div class='form-group'>
    <label>{{localize 'NEONRELIC.Gear.GearBonus'}}</label>
    <input
      type='number'
      name='system.gearBonus.value'
      value='{{system.gearBonus.value}}'
      min='0'
      {{disabled (not isEditable)}}
    />
    <span>/</span>
    <input
      type='number'
      name='system.gearBonus.max'
      value='{{system.gearBonus.max}}'
      min='0'
      {{disabled (not isEditable)}}
    />
  </div>

  <div class='form-group'>
    <label>{{localize 'NEONRELIC.Gear.SkillBonus'}}</label>
    <select name='system.skillBonus' {{disabled (not isEditable)}}>
      <option value=''>— {{localize 'NEONRELIC.Roll.None'}} —</option>
      {{#each config.skills as |data key|}}
        <option value='{{key}}' {{selected key @root.system.skillBonus}}>{{localize data.label}}</option>
      {{/each}}
    </select>
  </div>

  <div class='form-group'>
    <label>{{localize 'NEONRELIC.Encumbrance'}}</label>
    <input
      type='number'
      name='system.encumbrance'
      value='{{system.encumbrance}}'
      min='0'
      {{disabled (not isEditable)}}
    />
  </div>

  <div class='form-group'>
    <label>{{localize 'NEONRELIC.CL'}}</label>
    <input type='number' name='system.cl' value='{{system.cl}}' min='1' max='5' {{disabled (not isEditable)}} />
  </div>

  <div class='form-group'>
    <label>{{localize 'NEONRELIC.Gear.Broken'}}</label>
    <input type='checkbox' name='system.isBroken' {{checked system.isBroken}} {{disabled (not isEditable)}} />
  </div>
</div>