<div class='hq-sheet'>
  {{! Header }}
  <header class='hq-header'>
    <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
    <div class='header-fields'>
      <h1>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='{{localize "NEONRELIC.HQ.Name"}}'
          {{disabled (not isEditable)}}
        />
      </h1>
      <span class='sheet-type'>{{localize 'NEONRELIC.HQ.SheetType'}}</span>
    </div>
    <div class='standing-badge'>
      <span class='rank-label'>{{standingRankLabel}}</span>
    </div>
  </header>

  <div class='hq-body'>
    {{! Standing Track }}
    <div class='section-title green'>
      {{localize 'NEONRELIC.HQ.Standing'}}
    </div>
    <div class='track-row'>
      <div class='track-pips standing-pips'>
        {{#each standingPips}}
          <span class='{{this.cssClass}}'></span>
        {{/each}}
      </div>
      <div class='track-input'>
        <input
          type='number'
          name='system.standing'
          value='{{system.standing}}'
          min='0'
          max='20'
          {{disabled (not isEditable)}}
        />
        <span class='track-max'>/ 20</span>
      </div>
    </div>

    {{! Threat Level }}
    <div class='section-title red'>
      {{localize 'NEONRELIC.HQ.Threat'}}
    </div>
    <div class='track-row'>
      <div class='track-pips threat-pips'>
        {{#each threatPips}}
          <span class='{{this.cssClass}}'></span>
        {{/each}}
      </div>
      <div class='track-input'>
        <input
          type='number'
          name='system.threat'
          value='{{system.threat}}'
          min='0'
          max='6'
          {{disabled (not isEditable)}}
        />
        <span class='track-max'>/ 6</span>
      </div>
    </div>

    {{! Stats Row }}
    <div class='hq-stats-row'>
      <div class='stat-cell'>
        <span class='stat-label'>{{localize 'NEONRELIC.HQ.DP'}}</span>
        <input
          class='stat-value'
          type='number'
          name='system.dp'
          value='{{system.dp}}'
          min='0'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='stat-cell'>
        <span class='stat-label'>
          {{localize 'NEONRELIC.HQ.CellWideCL'}}
        </span>
        <span class='stat-value derived'>{{system.cellWideCL}}</span>
      </div>
    </div>

    {{! Vault }}
    <div class='section-title'>{{localize 'NEONRELIC.HQ.Vault'}}</div>
    <div class='vault-section'>
      <div class='vault-row'>
        <span class='field-label'>
          {{localize 'NEONRELIC.HQ.CasesSinceConsecration'}}
        </span>
        <input
          class='vault-input'
          type='number'
          name='system.vault.casesSinceConsecration'
          value='{{system.vault.casesSinceConsecration}}'
          min='0'
          {{disabled (not isEditable)}}
        />
      </div>
      {{#if system.needsReconsecration}}
        <div class='status-badge critical'>
          {{localize 'NEONRELIC.HQ.NeedsReconsecration'}}
        </div>
      {{/if}}
    </div>

    {{! Description }}
    <div class='section-title'>{{localize 'NEONRELIC.Description'}}</div>
    <div class='description'>
      <div class='editor'>{{{enrichedDescription}}}</div>
    </div>
  </div>
</div>