<section class='tab talents {{tab.cssClass}}' data-group='primary' data-tab='talents'>
  <div class='section-title green'>{{localize 'NEONRELIC.Tab.Talents'}}</div>
  <div class='three-col talent-grid'>
    {{#each talents}}
      <div class='talent-block' data-item-id='{{this.id}}'>
        <div class='talent-type'>{{this.system.talentType}}</div>
        <a class='talent-name item-name' data-action='viewItem'>{{this.name}}</a>
        <div class='talent-meta'>
          {{#if this.system.isOncePerSession}}
            <span class='talent-uses'>{{localize 'NEONRELIC.Talent.OncePerSession'}}</span>
          {{else}}
            <span class='talent-uses'>{{this.system.usesPerSession.value}} / {{this.system.usesPerSession.max}}</span>
          {{/if}}
          {{#if this.system.hasHealingTag}}
            <span class='healing-tag' title='{{localize "NEONRELIC.Talent.HealingTag"}}'>&#9829;</span>
          {{/if}}
          {{#if this.system.corruptionCost}}
            <span class='corruption-cost'>&#9760; {{this.system.corruptionCost}}</span>
          {{/if}}
        </div>
        {{#if @root.isEditable}}
          <button type='button' class='talent-use-btn' data-action='useTalent'>
            <i class='fa-solid fa-bolt'></i>
            {{localize 'NEONRELIC.Talent.Use'}}
          </button>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#unless talents.length}}
    <p class='empty-list'>{{localize 'NEONRELIC.NoItems'}}</p>
  {{/unless}}
</section>