<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class='section-title'>{{localize 'NEONRELIC.Tab.Attributes'}} &amp; {{localize 'NEONRELIC.Agent.Skills'}}</div>

  {{! Point Budgets }}
  <div class='budget-bar'>
    <span class='budget-item'>
      {{localize 'NEONRELIC.Budget.Attributes'}}:
      {{system.budget.attrSpent}}
      /
      {{system.budget.attrTotal}}
      {{#if (ne system.budget.attrRemaining 0)}}
        <span class='budget-remaining'>({{system.budget.attrRemaining}})</span>
      {{/if}}
    </span>
    <span class='budget-item'>
      {{localize 'NEONRELIC.Budget.Skills'}}:
      {{system.budget.skillSpent}}
      /
      {{system.budget.skillTotal}}
      {{#if (ne system.budget.skillRemaining 0)}}
        <span class='budget-remaining'>({{system.budget.skillRemaining}})</span>
      {{/if}}
    </span>
  </div>

  <div class='attr-skill-grid'>
    {{#each attrColumns}}
      <div class='attr-skill-col'>

        {{! Attribute box }}
        <div class='attr-box'>
          <div class='attr-name'>{{localize this.label}}</div>
          <div class='attr-score'>
            <input
              type='number'
              name='system.attributes.{{this.key}}.value'
              value='{{this.value}}'
              min='0'
              {{disabled (not @root.isEditable)}}
            />
          </div>
          <div class='attr-max'>
            max
            {{#if @root.isEditable}}
              <button
                type='button'
                class='adj-btn'
                data-action='adjustAttribute'
                data-attribute='{{this.key}}'
                data-delta='-1'
              >−</button>
            {{/if}}
            <span class='attr-max-value'>{{this.max}}</span>
            {{#if @root.isEditable}}
              <button
                type='button'
                class='adj-btn'
                data-action='adjustAttribute'
                data-attribute='{{this.key}}'
                data-delta='1'
              >+</button>
            {{/if}}
          </div>
          <div class='attr-dmg-label'>{{localize this.damageLabel}}</div>
          <div class='attr-dmg-track'>
            {{#each this.damagePips}}
              <div class='{{this.cssClass}}'></div>
            {{/each}}
          </div>
          <button type='button' class='attr-roll-btn' data-action='rollAttribute' data-attribute='{{this.key}}'>
            <i class='fa-solid fa-dice-d6'></i>
          </button>
        </div>

        {{! Skill area }}
        <div class='skill-area'>
          <div class='skill-area-header'>{{localize 'NEONRELIC.Agent.Skills'}}</div>
          {{#each this.skills}}
            <div class='skill-row'>
              <button type='button' class='skill-roll-btn' data-action='rollSkill' data-skill='{{this.key}}'>
                <i class='fa-solid fa-dice-d6'></i>
              </button>
              <span class='skill-name'>{{localize this.label}}</span>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='adj-btn'
                  data-action='adjustSkill'
                  data-skill='{{this.key}}'
                  data-delta='-1'
                >−</button>
              {{/if}}
              <span class='skill-value'>{{this.value}}</span>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='adj-btn'
                  data-action='adjustSkill'
                  data-skill='{{this.key}}'
                  data-delta='1'
                >+</button>
              {{/if}}
            </div>
          {{/each}}
        </div>

      </div>
    {{/each}}
  </div>
</section>