<section class='tab biography {{tab.cssClass}}' data-group='primary' data-tab='biography'>
  {{! Psychological Profile }}
  <div class='section-title red'>{{localize 'NEONRELIC.Agent.PsychProfile'}}</div>
  <div class='two-col'>
    {{#if anchor}}
      <div class='anchor-box' data-item-id='{{anchor.id}}'>
        <div class='id-label'>{{localize 'NEONRELIC.ItemType.anchor'}} &mdash; {{anchor.name}}</div>
        <div class='anchor-uses'>{{anchor.system.uses.value}} / {{anchor.system.uses.max}}</div>
        {{#if anchor.system.isLost}}
          <span class='lost-badge'>{{localize 'NEONRELIC.Anchor.Lost'}}</span>
        {{/if}}
      </div>
    {{else}}
      <div class='anchor-box anchor-box--empty'>
        <div class='id-label'>{{localize 'NEONRELIC.ItemType.anchor'}}</div>
        <div class='empty-placeholder'>{{localize 'NEONRELIC.NoItems'}}</div>
      </div>
    {{/if}}

    {{#if darkSecret}}
      <div class='secret-box' data-item-id='{{darkSecret.id}}'>
        <div class='id-label'>{{localize 'NEONRELIC.ItemType.darkSecret'}} &mdash; {{darkSecret.name}}</div>
        <div class='secret-trigger'>{{darkSecret.system.xpTrigger}}</div>
      </div>
    {{else}}
      <div class='secret-box secret-box--empty'>
        <div class='id-label'>{{localize 'NEONRELIC.ItemType.darkSecret'}}</div>
        <div class='empty-placeholder'>{{localize 'NEONRELIC.NoItems'}}</div>
      </div>
    {{/if}}
  </div>

  {{! Backstory }}
  <div class='section-title'>{{localize 'NEONRELIC.Agent.Backstory'}}</div>
  <div class='biography-editor'>
    <div class='editor-content'>{{{enrichedDescription}}}</div>
    {{#if isEditable}}
      <textarea name='system.description' style='display:none;'>{{system.description}}</textarea>
    {{/if}}
  </div>

  {{! Session Debrief Questions }}
  <div class='section-title green'>{{localize 'NEONRELIC.Debrief.Title'}}</div>
  <ol class='debrief-questions'>
    <li>{{localize 'NEONRELIC.Debrief.Q1'}}</li>
    <li>{{localize 'NEONRELIC.Debrief.Q2'}}</li>
    <li>{{localize 'NEONRELIC.Debrief.Q3'}}</li>
    <li>{{localize 'NEONRELIC.Debrief.Q4'}}</li>
    <li>{{localize 'NEONRELIC.Debrief.Q5'}}</li>
  </ol>
</section>