<section class='tab combat {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <div class='section-title'>{{localize 'NEONRELIC.Tab.Combat'}}</div>

  {{! Initiative & Actions }}
  <div class='combat-header'>
    <div class='combat-stat'>
      <span class='id-label'>{{localize 'NEONRELIC.Combat.Initiative'}}</span>
      <input
        type='number'
        class='combat-stat__value'
        name='system.initiative.cardValue'
        value='{{system.initiative.cardValue}}'
        min='1'
        max='10'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='combat-actions'>
      <label class='action-toggle'>
        <input
          type='checkbox'
          name='system.actions.slow'
          {{checked system.actions.slow}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.SlowAction'}}
      </label>
      <label class='action-toggle'>
        <input
          type='checkbox'
          name='system.actions.fast'
          {{checked system.actions.fast}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.FastAction'}}
      </label>
    </div>
  </div>

  {{! Conditions }}
  <div class='combat-conditions'>
    <button type='button' data-action='toggleCondition' data-condition='isBroken' class='{{brokenClass}}'>
      {{localize 'NEONRELIC.Condition.Broken'}}
    </button>
    <button type='button' data-action='toggleCondition' data-condition='isDying' class='{{dyingClass}}'>
      {{localize 'NEONRELIC.Condition.Dying'}}
    </button>
  </div>

  {{! Weapons }}
  <div class='section-title green'>{{localize 'NEONRELIC.Combat.Weapons'}}</div>
  {{#if weapons.length}}
    <table class='gear-table'>
      <thead>
        <tr>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Damage'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Range'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Bonus'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each weapons}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'>{{this.system.damage}}</td>
            <td class='center'>{{this.system.range}}</td>
            <td class='center'>{{this.system.gearBonus.value}}/{{this.system.gearBonus.max}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class='empty-list'>{{localize 'NEONRELIC.NoItems'}}</p>
  {{/if}}

  {{! Armor }}
  <div class='section-title'>{{localize 'NEONRELIC.Combat.Armor'}}</div>
  {{#each armor}}
    <div class='armor-entry' data-item-id='{{this.id}}'>
      <a class='armor-name item-name' data-action='viewItem'>{{this.name}}</a>
      <span class='armor-ar'>AR {{this.system.ar.value}}/{{this.system.ar.max}}</span>
    </div>
  {{/each}}

  {{! Critical Injuries }}
  {{#if criticalInjuries.length}}
    <div class='section-title red'>{{localize 'NEONRELIC.Combat.CriticalInjuries'}}</div>
    {{#each criticalInjuries}}
      <div class='injury-entry' data-item-id='{{this.id}}'>
        <a class='injury-name item-name' data-action='viewItem'>{{this.name}}</a>
        <span class='injury-type'>{{this.system.injuryType}}</span>
        {{#if this.system.isLethal}}<span class='lethal-badge'>&dagger;</span>{{/if}}
        {{#if this.system.isHealed}}<span class='healed-badge'>&check;</span>{{/if}}
      </div>
    {{/each}}
  {{/if}}
</section>