<section class='tab combat {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <div class='section-title'>{{localize 'NEONRELIC.Tab.Combat'}}</div>

  {{! Initiative & Actions }}
  <div class='combat-header'>
    <div class='combat-stat'>
      <span class='id-label'>{{localize 'NEONRELIC.Combat.Initiative'}}</span>
      <input
        type='number'
        class='combat-stat__value'
        name='system.initiative.cardValue'
        value='{{system.initiative.cardValue}}'
        min='1'
        max='10'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='combat-actions'>
      <label class='action-toggle'>
        <input
          type='checkbox'
          name='system.actions.slow'
          {{checked system.actions.slow}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.SlowAction'}}
      </label>
      <label class='action-toggle'>
        <input
          type='checkbox'
          name='system.actions.fast'
          {{checked system.actions.fast}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.FastAction'}}
      </label>
    </div>
  </div>

  {{! Conditions }}
  <div class='combat-conditions'>
    <button type='button' data-action='toggleCondition' data-condition='isBroken' class='{{brokenClass}}'>
      {{localize 'NEONRELIC.Condition.Broken'}}
    </button>
    <button type='button' data-action='toggleCondition' data-condition='isDying' class='{{dyingClass}}'>
      {{localize 'NEONRELIC.Condition.Dying'}}
    </button>
  </div>

  {{! Weapons }}
  <div class='section-title green'>{{localize 'NEONRELIC.Combat.Weapons'}}</div>
  {{#if weapons.length}}
    <table class='gear-table'>
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Damage'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Range'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Weapon.Bonus'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Item.Worn'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each weapons}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><img class='item-img' src='{{this.img}}' /></td>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'>{{this.system.damage}}</td>
            <td class='center'>{{this.system.range}}</td>
            <td class='center'>{{this.system.gearBonus.value}}/{{this.system.gearBonus.max}}</td>
            <td class='center'>
              {{#if @root.isEditable}}
                <input type='checkbox' data-action='toggleWorn' data-item-id='{{this.id}}' {{checked this.system.worn}} />
              {{else}}
                {{#if this.system.worn}}&#10003;{{/if}}
              {{/if}}
            </td>
            <td class='center'>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='remove-btn'
                  data-action='removeItem'
                  data-item-id='{{this.id}}'
                  title='{{localize "NEONRELIC.Item.Remove"}}'
                >
                  <i class='fa-solid fa-trash'></i>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class='empty-list'>{{localize 'NEONRELIC.NoItems'}}</p>
  {{/if}}

  {{! Armor }}
  <div class='section-title'>{{localize 'NEONRELIC.Combat.Armor'}}</div>
  {{#if armor.length}}
    <table class='gear-table'>
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Armor.AR'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Item.Worn'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each armor}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><img class='item-img' src='{{this.img}}' /></td>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'>{{this.system.ar.value}}/{{this.system.ar.max}}</td>
            <td class='center'>
              {{#if @root.isEditable}}
                <input type='checkbox' data-action='toggleWorn' data-item-id='{{this.id}}' {{checked this.system.worn}} />
              {{else}}
                {{#if this.system.worn}}&#10003;{{/if}}
              {{/if}}
            </td>
            <td class='center'>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='remove-btn'
                  data-action='removeItem'
                  data-item-id='{{this.id}}'
                  title='{{localize "NEONRELIC.Item.Remove"}}'
                >
                  <i class='fa-solid fa-trash'></i>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class='empty-list'>{{localize 'NEONRELIC.NoItems'}}</p>
  {{/if}}

  {{! Critical Injuries }}
  {{#if criticalInjuries.length}}
    <div class='section-title red'>{{localize 'NEONRELIC.Combat.CriticalInjuries'}}</div>
    {{#each criticalInjuries}}
      <div class='injury-entry' data-item-id='{{this.id}}'>
        <a class='injury-name item-name' data-action='viewItem'>{{this.name}}</a>
        <span class='injury-type'>{{this.system.injuryType}}</span>
        {{#if this.system.isLethal}}<span class='lethal-badge'>&dagger;</span>{{/if}}
        {{#if this.system.isHealed}}<span class='healed-badge'>&check;</span>{{/if}}
        {{#if @root.isEditable}}
          <button
            type='button'
            class='remove-btn'
            data-action='removeItem'
            data-item-id='{{this.id}}'
            title='{{localize "NEONRELIC.Item.Remove"}}'
          >
            <i class='fa-solid fa-trash'></i>
          </button>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}

  {{#if isEditable}}
    <div class='add-buttons-row'>
      <button
        type='button'
        class='add-btn'
        data-action='addItem'
        data-item-type='weapon'
        data-pack='neon-relic.weapons-armor'
      >+
        {{localize 'NEONRELIC.Agent.AddWeapon'}}</button>
      <button
        type='button'
        class='add-btn'
        data-action='addItem'
        data-item-type='armor'
        data-pack='neon-relic.weapons-armor'
      >+
        {{localize 'NEONRELIC.Agent.AddArmor'}}</button>
    </div>
  {{/if}}
</section>