<section class='tab combat' data-group='primary' data-tab='combat'>
  <div class='combat-header'>
    <div class='form-group'>
      <label>{{localize 'NEONRELIC.Combat.Initiative'}}</label>
      <input
        type='number'
        name='system.initiative.cardValue'
        value='{{system.initiative.cardValue}}'
        min='1'
        max='10'
        {{disabled (not isEditable)}}
      />
    </div>

    <div class='actions-tracker'>
      <label>
        <input
          type='checkbox'
          name='system.actions.slow'
          {{checked system.actions.slow}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.SlowAction'}}
      </label>
      <label>
        <input
          type='checkbox'
          name='system.actions.fast'
          {{checked system.actions.fast}}
          {{disabled (not isEditable)}}
        />
        {{localize 'NEONRELIC.Combat.FastAction'}}
      </label>
    </div>
  </div>

  <div class='conditions'>
    <h3>{{localize 'NEONRELIC.Combat.Conditions'}}</h3>
    <button
      type='button'
      data-action='toggleCondition'
      data-condition='isBroken'
      class='condition-btn'
      data-active='{{system.conditions.isBroken}}'
    >
      {{localize 'NEONRELIC.Condition.Broken'}}
    </button>
    <button
      type='button'
      data-action='toggleCondition'
      data-condition='isDying'
      class='condition-btn'
      data-active='{{system.conditions.isDying}}'
    >
      {{localize 'NEONRELIC.Condition.Dying'}}
    </button>
  </div>

  <div class='equipped-weapons'>
    <h3>{{localize 'NEONRELIC.Combat.Weapons'}}</h3>
    {{#each weapons}}
      <div class='weapon-entry' data-item-id='{{this.id}}'>
        <span class='weapon-name'>{{this.name}}</span>
        <span class='weapon-damage'>{{this.system.damage}}</span>
        <span class='weapon-range'>{{this.system.range}}</span>
        <span class='weapon-bonus'>{{this.system.gearBonus.value}}/{{this.system.gearBonus.max}}</span>
      </div>
    {{/each}}
  </div>

  <div class='equipped-armor'>
    <h3>{{localize 'NEONRELIC.Combat.Armor'}}</h3>
    {{#each armor}}
      <div class='armor-entry' data-item-id='{{this.id}}'>
        <span class='armor-name'>{{this.name}}</span>
        <span class='armor-ar'>{{this.system.ar.value}}/{{this.system.ar.max}}</span>
      </div>
    {{/each}}
  </div>

  <div class='critical-injuries'>
    <h3>{{localize 'NEONRELIC.Combat.CriticalInjuries'}}</h3>
    {{#each criticalInjuries}}
      <div class='injury-entry' data-item-id='{{this.id}}'>
        <span class='injury-name'>{{this.name}}</span>
        <span class='injury-type'>{{this.system.injuryType}}</span>
        {{#if this.system.isLethal}}<span class='lethal-badge'>†</span>{{/if}}
        {{#if this.system.isHealed}}<span class='healed-badge'>✓</span>{{/if}}
      </div>
    {{/each}}
  </div>
</section>