<header class='agent-header'>
  <div class='agent-header__left'>
    <img class='agent-header__portrait' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
    <div class='agent-header__identity'>
      <h1 class='agent-header__title'>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='{{localize "NEONRELIC.Agent.Name"}}'
          {{disabled (not isEditable)}}
        />
      </h1>
      <div class='agent-header__subtitle'>
        {{localize 'NEONRELIC.Agent.Dossier'}}
        &mdash; The Verdant Covenant
      </div>
      {{#if isEditable}}
        <div class='agent-header__actions'>
          <button type='button' data-action='takeDamage' class='agent-header__btn agent-header__btn--damage'
                  title='{{localize "NEONRELIC.Damage.TakeDamageHint"}}'>
            <i class='fa-solid fa-heart-crack'></i>
            {{localize 'NEONRELIC.Damage.TakeDamage'}}
          </button>
          <button type='button' data-action='shortRest' class='agent-header__btn'
                  title='{{localize "NEONRELIC.Agent.ShortRestHint"}}'>
            <i class='fa-solid fa-bed'></i>
            {{localize 'NEONRELIC.Agent.ShortRest'}}
          </button>
        </div>
      {{/if}}
    </div>
  </div>
  <div class='agent-header__right'>
    <div class='classification'>{{localize 'NEONRELIC.Classified'}}</div>
    <div class='agent-header__meta'>
      <span class='agent-header__division'>{{localize (concat 'NEONRELIC.Division.' system.division)}}</span>
      <span class='agent-header__cl'>CL-{{system.clearanceLevel}}</span>
      <span class='agent-header__xp'>{{localize 'NEONRELIC.Agent.XP'}}:
        {{system.experience.current}}
        ({{localize 'NEONRELIC.Agent.XPTotal'}}:
        {{system.experience.total}},
        {{localize 'NEONRELIC.Agent.XPSpent'}}:
        {{system.experience.spent}})</span>
    </div>
  </div>
</header>