<section class='tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  <div class='section-title'>{{localize 'NEONRELIC.Agent.Equipment'}}</div>

  {{! Encumbrance bar }}
  <div class='encumbrance-bar' data-tier='{{encumbranceTier}}'>
    <span class='id-label'>{{localize 'NEONRELIC.Agent.Encumbrance'}}</span>
    <div class='encumbrance-track'>
      <div
        class='encumbrance-fill'
        style='width: {{attributeBar system.encumbrance.current system.encumbrance.overloaded}}%'
      ></div>
    </div>
    <span class='encumbrance-values'>{{system.encumbrance.current}}
      /
      {{system.encumbrance.max}}
      /
      {{system.encumbrance.overloaded}}</span>
  </div>

  {{! Division Item }}
  {{#if divisionItems.length}}
    <div class='section-title green'>{{localize 'NEONRELIC.Agent.DivisionItem'}}</div>
    {{#each divisionItems}}
      <div class='item-row division-item-row' data-item-id='{{this.id}}'>
        <img class='item-img' src='{{this.img}}' />
        <span class='item-name'><a data-action='viewItem'>{{this.name}}</a></span>
        {{#if @root.isEditable}}
          <label class='division-active-toggle'>
            <input type='checkbox' name='system.divisionItem.active' {{checked @root.system.divisionItem.active}} />
            {{localize 'NEONRELIC.Agent.DivisionItemActive'}}
          </label>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}

  {{! Gear table }}
  {{#if gear.length}}
    <div class='section-title green'>{{localize 'NEONRELIC.ItemType.gear'}}</div>
    <table class='gear-table'>
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Item.Bonus'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Item.Enc'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each gear}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><img class='item-img' src='{{this.img}}' /></td>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'>+{{this.system.gearBonus.value}}</td>
            <td class='center'>{{this.system.encumbrance}}</td>
            <td class='center'>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='remove-btn'
                  data-action='removeItem'
                  data-item-id='{{this.id}}'
                  title='{{localize "NEONRELIC.Item.Remove"}}'
                >
                  <i class='fa-solid fa-trash'></i>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{! Consumables }}
  {{#if consumables.length}}
    <div class='section-title'>{{localize 'NEONRELIC.ItemType.consumable'}}</div>
    <table class='gear-table'>
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Item.Die'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each consumables}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><img class='item-img' src='{{this.img}}' /></td>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'>{{this.system.currentDie}}</td>
            <td class='center'>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='remove-btn'
                  data-action='removeItem'
                  data-item-id='{{this.id}}'
                  title='{{localize "NEONRELIC.Item.Remove"}}'
                >
                  <i class='fa-solid fa-trash'></i>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{! Artifacts }}
  {{#if artifacts.length}}
    <div class='section-title red'>{{localize 'NEONRELIC.ItemType.artifact'}}</div>
    <table class='gear-table'>
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'NEONRELIC.Item.Name'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Artifact.Tier'}}</th>
          <th class='center'>{{localize 'NEONRELIC.Artifact.Die'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each artifacts}}
          <tr class='item-row' data-item-id='{{this.id}}'>
            <td><img class='item-img' src='{{this.img}}' /></td>
            <td><a class='item-name' data-action='viewItem'>{{this.name}}</a></td>
            <td class='center'><span class='tier-badge'>T{{this.system.tier}}</span></td>
            <td class='center'>{{this.system.artifactDie.current}}</td>
            <td class='center'>
              {{#if @root.isEditable}}
                <button
                  type='button'
                  class='remove-btn'
                  data-action='removeItem'
                  data-item-id='{{this.id}}'
                  title='{{localize "NEONRELIC.Item.Remove"}}'
                >
                  <i class='fa-solid fa-trash'></i>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if isEditable}}
    <div class='add-buttons-row'>
      <button type='button' class='add-btn' data-action='addGear'>+
        {{localize 'NEONRELIC.Item.AddGear'}}</button>
      <button type='button' class='add-btn' data-action='addArtifact'>+
        {{localize 'NEONRELIC.Item.AddArtifact'}}</button>
    </div>
  {{/if}}
</section>