<header class='npc-card-header'>
  <div class='card-header'>
    <div class='card-title'>{{localize 'NEONRELIC.NPC.CardTitle'}}</div>
    <div class='card-stamp'>{{localize 'NEONRELIC.NPC.DAEyesOnly'}}</div>
  </div>

  <div class='npc-identity-row'>
    <div class='npc-portrait'>
      <img src='{{actor.img}}' data-edit='img' title='{{actor.name}}' class='profile-img' />
    </div>
    <div class='npc-identity-fields'>
      <div class='name-row'>
        <div class='name-col'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.Name'}}</span>
          <input
            class='npc-name'
            name='name'
            type='text'
            value='{{actor.name}}'
            placeholder='{{localize "NEONRELIC.NPC.Name"}}'
            {{disabled (not isEditable)}}
          />
        </div>
        <div class='org-col'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.Organization'}} (O#)</span>
          <input
            class='npc-org'
            name='system.organization'
            type='text'
            value='{{system.organization}}'
            {{disabled (not isEditable)}}
          />
        </div>
      </div>
      <div>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.ArtifactConnection'}}</span>
        <input
          class='field-value'
          name='system.artifactConnection'
          type='text'
          value='{{system.artifactConnection}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>
  </div>

  {{#if isEditable}}
    <div class='npc-badges'>
      <button type='button' class='flip-btn' data-action='flipCard'>
        <i class='fa-solid fa-rotate'></i>
        <span class='flip-label'>{{#if showBack}}{{localize 'NEONRELIC.NPC.Front'}}{{else}}{{localize
              'NEONRELIC.NPC.Back'
            }}{{/if}}</span>
      </button>
      <button type='button' class='flip-btn' data-action='toggleSimplified'>
        <i class='fa-solid fa-compress'></i>
      </button>
    </div>
  {{/if}}
</header>