<header class='npc-card-header'>
  <div class='card-header'>
    <div class='card-title'>{{localize 'NEONRELIC.NPC.CardTitle'}}</div>
    <div class='card-stamp'>{{localize 'NEONRELIC.NPC.DAEyesOnly'}}</div>
  </div>

  <div class='npc-identity-row'>
    <div class='npc-portrait'>
      <img src='{{actor.img}}' data-edit='img' title='{{actor.name}}' class='profile-img' />
    </div>
    <div class='npc-identity-fields'>
      <div class='name-row'>
        <div class='name-col'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.Name'}}</span>
          <input
            class='npc-name'
            name='name'
            type='text'
            value='{{actor.name}}'
            placeholder='{{localize "NEONRELIC.NPC.Name"}}'
            {{disabled (not isEditable)}}
          />
        </div>
        {{! Organization is now a drag-drop link, not text input }}
        <div class='org-col'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.Organization'}} (O#)</span>
          {{#if linkedOrg}}
            <div class='linked-doc-row'>
              <img class='linked-doc-img' src='{{linkedOrg.img}}' alt='{{linkedOrg.name}}' />
              <a
                class='linked-doc-name'
                data-action='openLinkedDoc'
                data-uuid='{{linkedOrg.uuid}}'
              >{{linkedOrg.name}}</a>
              {{#if isEditable}}
                <button
                  type='button'
                  class='linked-doc-remove'
                  data-action='removeLinkedDoc'
                  data-uuid='{{linkedOrg.uuid}}'
                  data-tooltip='{{localize "NEONRELIC.NPC.RemoveLinked"}}'
                >&times;</button>
              {{/if}}
            </div>
          {{else}}
            <div class='dropzone dropzone-org' data-drop-key='org'>
              <span class='dropzone-hint'>{{localize 'NEONRELIC.NPC.DropOrgHint'}}</span>
            </div>
          {{/if}}
        </div>
      </div>
      <div>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.ArtifactConnection'}}</span>
        <input
          class='field-value'
          name='system.artifactConnection'
          type='text'
          value='{{system.artifactConnection}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>
  </div>

  {{#if isEditable}}
    <div class='npc-badges'>
      <button type='button' class='flip-btn' data-action='toggleSimplified'>
        <i class='fa-solid fa-compress'></i>
      </button>
    </div>
  {{/if}}
</header>