<div class='npc-sheet'>
  {{! Header }}
  <header class='npc-card-header'>
    <div class='card-header'>
      <div class='card-title'>{{localize 'NEONRELIC.NPC.CardTitle'}}</div>
      <div class='card-stamp'>{{localize 'NEONRELIC.NPC.DAEyesOnly'}}</div>
    </div>
    <div class='npc-identity-row'>
      <div class='npc-portrait'>
        <img src='{{actor.img}}' data-edit='img' title='{{actor.name}}' class='profile-img' />
      </div>
      <div class='npc-identity-fields'>
        <div class='name-row'>
          <div class='name-col'>
            <span class='field-label'>{{localize 'NEONRELIC.NPC.Name'}}</span>
            <input
              class='npc-name'
              name='name'
              type='text'
              value='{{actor.name}}'
              placeholder='{{localize "NEONRELIC.NPC.Name"}}'
              {{disabled (not isEditable)}}
            />
          </div>
          <div class='org-col'>
            <span class='field-label'>{{localize 'NEONRELIC.NPC.Organization'}} (O#)</span>
            {{#if linkedOrg}}
              <div class='linked-doc-row'><img
                  class='linked-doc-img'
                  src='{{linkedOrg.img}}'
                  alt='{{linkedOrg.name}}'
                /><a
                  class='linked-doc-name'
                  data-action='openLinkedDoc'
                  data-uuid='{{linkedOrg.uuid}}'
                >{{linkedOrg.name}}</a>{{#if isEditable}}<button
                    type='button'
                    class='linked-doc-remove'
                    data-action='removeLinkedDoc'
                    data-uuid='{{linkedOrg.uuid}}'
                    data-tooltip='{{localize "NEONRELIC.NPC.RemoveLinked"}}'
                  >&times;</button>{{/if}}</div>
            {{else}}<div class='dropzone dropzone-org' data-drop-key='org'><span class='dropzone-hint'>{{localize
                    'NEONRELIC.NPC.DropOrgHint'
                  }}</span></div>{{/if}}
          </div>
        </div>
        <div><span class='field-label'>{{localize 'NEONRELIC.NPC.ArtifactConnection'}}</span><input
            class='field-value'
            name='system.artifactConnection'
            type='text'
            value='{{system.artifactConnection}}'
            {{disabled (not isEditable)}}
          /></div>
      </div>
    </div>
    {{#if isEditable}}<div class='npc-badges'><button type='button' class='flip-btn' data-action='toggleSimplified'><i
            class='fa-solid fa-compress'
          ></i></button></div>{{/if}}
  </header>

  {{! Tab Navigation }}
  <nav class='npc-tabs tabs' data-group='npc-primary'>
    <a class='item active' data-tab='information' data-group='npc-primary'><i
        class='fa-solid fa-id-card'
        inert
      ></i><span>{{localize 'NEONRELIC.NPC.TabCaseCard'}}</span></a>
    <a class='item' data-tab='locations' data-group='npc-primary'><i class='fa-solid fa-map-pin' inert></i><span
      >{{localize 'NEONRELIC.NPC.TabLocations'}}</span></a>
  </nav>

  <div class='npc-tab-content'>
    {{! Information Tab }}
    <div class='tab active' data-tab='information' data-group='npc-primary'>
      <section class='npc-card-tab'>
        <div class='field-row'>
          <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.Secret'}}</span><input
              class='field-value med'
              name='system.secret'
              type='text'
              value='{{system.secret}}'
              {{disabled (not isEditable)}}
            /></div>
          <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.Goal'}}</span><input
              class='field-value med'
              name='system.goal'
              type='text'
              value='{{system.goal}}'
              {{disabled (not isEditable)}}
            /></div>
        </div>

        <div class='section-label'>{{localize 'NEONRELIC.NPC.Knowledge'}}</div>
        <div class='knowledge-block'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.StartingKnowledge'}} (I#)</span>
          {{#if linkedStartingKnowledge.length}}<ul class='linked-doc-list'>{{#each linkedStartingKnowledge}}<li
                  class='linked-doc-row'
                ><img class='linked-doc-img' src='{{this.img}}' alt='{{this.name}}' /><a
                    class='linked-doc-name'
                    data-action='openLinkedDoc'
                    data-uuid='{{this.uuid}}'
                  >{{this.name}}</a>{{#if @root.isEditable}}<button
                      type='button'
                      class='linked-doc-remove'
                      data-action='removeLinkedDoc'
                      data-uuid='{{this.uuid}}'
                      data-tooltip='{{localize "NEONRELIC.NPC.RemoveLinked"}}'
                    >&times;</button>{{/if}}</li>{{/each}}</ul>{{/if}}
          {{#if isEditable}}<div class='dropzone' data-drop-key='startingKnowledge'><span
                class='dropzone-hint'
              >{{localize 'NEONRELIC.NPC.DropKnowledgeHint'}}</span></div>{{/if}}
        </div>
        <div class='knowledge-block'>
          <span class='field-label'>{{localize 'NEONRELIC.NPC.GainedKnowledge'}}</span>
          {{#if linkedGainedKnowledge.length}}<ul class='linked-doc-list'>{{#each linkedGainedKnowledge}}<li
                  class='linked-doc-row'
                ><img class='linked-doc-img' src='{{this.img}}' alt='{{this.name}}' /><a
                    class='linked-doc-name'
                    data-action='openLinkedDoc'
                    data-uuid='{{this.uuid}}'
                  >{{this.name}}</a>{{#if @root.isEditable}}<button
                      type='button'
                      class='linked-doc-remove'
                      data-action='removeLinkedDoc'
                      data-uuid='{{this.uuid}}'
                      data-tooltip='{{localize "NEONRELIC.NPC.RemoveLinked"}}'
                    >&times;</button>{{/if}}</li>{{/each}}</ul>{{/if}}
          {{#if isEditable}}<div class='dropzone' data-drop-key='gainedKnowledge'><span class='dropzone-hint'>{{localize
                  'NEONRELIC.NPC.DropKnowledgeHint'
                }}</span></div>{{/if}}
        </div>

        <div class='section-label red'>{{localize 'NEONRELIC.NPC.EngagementResults'}}</div>
        <div class='field-row'>
          <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.PositiveResult'}}</span><input
              class='field-value med'
              name='system.positiveResult'
              type='text'
              value='{{system.positiveResult}}'
              {{disabled (not isEditable)}}
            /></div>
          <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.NegativeResult'}}</span><input
              class='field-value med'
              name='system.negativeResult'
              type='text'
              value='{{system.negativeResult}}'
              {{disabled (not isEditable)}}
            /></div>
        </div>
      </section>
    </div>

    {{! Locations Tab }}
    <div class='tab' data-tab='locations' data-group='npc-primary'>
      <section class='npc-card-tab'>
        <div class='section-label'>{{localize 'NEONRELIC.NPC.Locations'}} (L#)</div>
        {{#if linkedLocations.length}}<ul class='linked-doc-list'>{{#each linkedLocations}}<li
                class='linked-doc-row'
              ><img class='linked-doc-img' src='{{this.img}}' alt='{{this.name}}' /><a
                  class='linked-doc-name'
                  data-action='openLinkedDoc'
                  data-uuid='{{this.uuid}}'
                >{{this.name}}</a>{{#if @root.isEditable}}<button
                    type='button'
                    class='linked-doc-remove'
                    data-action='removeLinkedDoc'
                    data-uuid='{{this.uuid}}'
                    data-tooltip='{{localize "NEONRELIC.NPC.RemoveLinked"}}'
                  >&times;</button>{{/if}}</li>{{/each}}</ul>{{/if}}
        {{#if isEditable}}<div class='dropzone' data-drop-key='locations'><span class='dropzone-hint'>{{localize
                'NEONRELIC.NPC.DropLocationHint'
              }}</span></div>{{/if}}
      </section>
    </div>
  </div>

  {{! Stat Block (always visible below tabs) }}
  <section class='npc-stats-section'>
    <div class='npc-badges'>
      <span class='tier-badge {{tierClass}}'>T{{system.tier}}</span>
      <span class='fear-badge'>{{localize 'NEONRELIC.NPC.FR'}}
        {{system.fearRating}}{{#if system.escalatedFearRating}}/{{system.escalatedFearRating}}{{/if}}</span>
      <span class='corruption-stage-badge stage-{{corruptionStageLabel}}'>{{localize 'NEONRELIC.NPC.CorruptionStage'}}:
        {{corruptionStageLabel}}</span>
    </div>

    <div class='section-label'>{{localize 'NEONRELIC.Tab.Attributes'}}</div>
    <div class='npc-attributes'>
      {{#each attrEntries}}<div class='npc-attr-box'><button
            type='button'
            class='attr-roll-btn'
            data-action='rollAttribute'
            data-attribute='{{this.key}}'
          ><span class='attr-label'>{{this.label}}</span><span class='attr-value'>{{this.value}}</span></button>{{#if
            @root.isEditable
          }}<input
              type='number'
              name='system.attributes.{{this.key}}'
              value='{{this.value}}'
              min='0'
              class='attr-edit'
            />{{/if}}</div>{{/each}}
    </div>

    <div class='npc-combat-row'>
      <div class='combat-field'><span class='field-label'>{{localize 'NEONRELIC.NPC.Tier'}}</span><input
          type='number'
          name='system.tier'
          value='{{system.tier}}'
          min='1'
          max='4'
          class='combat-input'
          {{disabled (not isEditable)}}
        /></div>
      <div class='combat-field'><span class='field-label'>{{localize 'NEONRELIC.NPC.AR'}}</span><input
          type='number'
          name='system.armorRating'
          value='{{system.armorRating}}'
          min='0'
          class='combat-input'
          {{disabled (not isEditable)}}
        /></div>
      <div class='combat-field'><span class='field-label'>{{localize 'NEONRELIC.NPC.FR'}}</span><input
          type='number'
          name='system.fearRating'
          value='{{system.fearRating}}'
          min='0'
          class='combat-input'
          {{disabled (not isEditable)}}
        /></div>
      <div class='combat-field'><span class='field-label'>{{localize 'NEONRELIC.NPC.EscalatedFR'}}</span><input
          type='number'
          name='system.escalatedFearRating'
          value='{{system.escalatedFearRating}}'
          min='0'
          class='combat-input'
          {{disabled (not isEditable)}}
        /></div>
      <div class='combat-field'><span class='field-label'>{{localize 'NEONRELIC.NPC.CorruptionStage'}}</span><select
          name='system.corruptionStage'
          class='combat-input'
          {{disabled (not isEditable)}}
        ><option value='0' {{selected system.corruptionStage 0}}>{{localize
              'NEONRELIC.CorruptionStage.Clean'
            }}</option><option value='1' {{selected system.corruptionStage 1}}>{{localize
              'NEONRELIC.CorruptionStage.Touched'
            }}</option><option value='2' {{selected system.corruptionStage 2}}>{{localize
              'NEONRELIC.CorruptionStage.Marked'
            }}</option><option value='3' {{selected system.corruptionStage 3}}>{{localize
              'NEONRELIC.CorruptionStage.Consumed'
            }}</option></select></div>
    </div>

    {{#unless isSimplified}}
      <div class='disposition-row'><span class='field-label'>{{localize 'NEONRELIC.NPC.Disposition'}}</span><div
          class='disposition-controls'
        ><button type='button' data-action='adjustDisposition' data-delta='-1'>−</button><div
            class='disposition-pips'
          >{{#each dispositionPips}}<span class='{{this.cssClass}}'>{{this.number}}</span>{{/each}}</div><button
            type='button'
            data-action='adjustDisposition'
            data-delta='1'
          >+</button></div></div>
    {{/unless}}

    <div class='broken-row'><label class='{{brokenClass}}'><input
          type='checkbox'
          name='system.isBroken'
          {{checked system.isBroken}}
          {{disabled (not isEditable)}}
        />{{localize 'NEONRELIC.NPC.Broken'}}</label></div>

    {{#unless isSimplified}}
      <div class='section-label'>{{localize 'NEONRELIC.NPC.Abilities'}}</div>
      {{#each abilities}}<div class='ability-entry' data-item-id='{{this.id}}'><span
            class='ability-name'
          >{{this.name}}</span></div>{{else}}<div class='empty-list'>{{localize 'NEONRELIC.NoItems'}}</div>{{/each}}
    {{/unless}}

    <div class='section-label red'>{{localize 'NEONRELIC.NPC.EntityFields'}}</div>
    <div class='field-row'>
      <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.EntityAnchor'}}</span><input
          class='field-value'
          type='text'
          name='system.entityAnchor'
          value='{{system.entityAnchor}}'
          {{disabled (not isEditable)}}
        /></div>
      <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.DissolutionMethod'}}</span><input
          class='field-value'
          type='text'
          name='system.dissolutionMethod'
          value='{{system.dissolutionMethod}}'
          {{disabled (not isEditable)}}
        /></div>
    </div>
    <div class='field-row'>
      <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.ReconstitutionTimer'}}</span><input
          class='field-value'
          type='number'
          name='system.reconstitutionTimer'
          value='{{system.reconstitutionTimer}}'
          min='0'
          {{disabled (not isEditable)}}
        /></div>
      <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.ArtifactTetherRange'}}</span><input
          class='field-value'
          type='number'
          name='system.artifactTetherRange'
          value='{{system.artifactTetherRange}}'
          min='0'
          {{disabled (not isEditable)}}
        /></div>
      <div class='field-col'><span class='field-label'>{{localize 'NEONRELIC.NPC.CorruptionOnContact'}}</span><input
          class='field-value'
          type='number'
          name='system.corruptionCostOnContact'
          value='{{system.corruptionCostOnContact}}'
          min='0'
          {{disabled (not isEditable)}}
        /></div>
    </div>
    <div class='entity-flags'>
      <label class='entity-flag'><input
          type='checkbox'
          name='system.incorporeal'
          {{checked system.incorporeal}}
          {{disabled (not isEditable)}}
        />{{localize 'NEONRELIC.NPC.Incorporeal'}}</label>
      <label class='entity-flag'><input
          type='checkbox'
          name='system.zoneLocked'
          {{checked system.zoneLocked}}
          {{disabled (not isEditable)}}
        />{{localize 'NEONRELIC.NPC.ZoneLocked'}}</label>
    </div>

    <div class='section-label'>{{localize 'NEONRELIC.NPC.DANotes'}}</div>
    <div class='npc-description'><div class='editor'>{{{enrichedDescription}}}</div></div>
  </section>
</div>