{{#unless showBack}}
  <section class='npc-front'>
    {{! Secret and Goal }}
    <div class='field-row'>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.Secret'}}</span>
        <input
          class='field-value med'
          name='system.secret'
          type='text'
          value='{{system.secret}}'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.Goal'}}</span>
        <input
          class='field-value med'
          name='system.goal'
          type='text'
          value='{{system.goal}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>

    {{! Knowledge }}
    <div class='section-label'>{{localize 'NEONRELIC.NPC.Knowledge'}}</div>
    <div class='field-row'>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.StartingKnowledge'}} (I#)</span>
        <input
          class='field-value'
          name='system.startingKnowledge'
          type='text'
          value='{{system.startingKnowledge}}'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.GainedKnowledge'}}</span>
        <input
          class='field-value'
          name='system.gainedKnowledge'
          type='text'
          value='{{system.gainedKnowledge}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>

    {{! Locations }}
    <div>
      <span class='field-label'>{{localize 'NEONRELIC.NPC.Locations'}} (L#)</span>
      <input
        class='field-value'
        name='system.locations'
        type='text'
        value='{{locationsString}}'
        {{disabled (not isEditable)}}
      />
    </div>

    {{! Engagement Results }}
    <div class='section-label red'>{{localize 'NEONRELIC.NPC.EngagementResults'}}</div>
    <div class='field-row'>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.PositiveResult'}}</span>
        <input
          class='field-value med'
          name='system.positiveResult'
          type='text'
          value='{{system.positiveResult}}'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='field-col'>
        <span class='field-label'>{{localize 'NEONRELIC.NPC.NegativeResult'}}</span>
        <input
          class='field-value med'
          name='system.negativeResult'
          type='text'
          value='{{system.negativeResult}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>
  </section>
{{/unless}}