{{#if showBack}}
  <section class='npc-back'>
    <div class='section-label'>{{localize 'NEONRELIC.NPC.Knowledge'}}</div>
    <div class='field-row'>
      <div class='field-col'>
        <span class='field-label'>
          {{localize 'NEONRELIC.NPC.StartingKnowledge'}}
        </span>
        <input
          class='field-value'
          type='text'
          name='system.startingKnowledge'
          value='{{system.startingKnowledge}}'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='field-col'>
        <span class='field-label'>
          {{localize 'NEONRELIC.NPC.GainedKnowledge'}}
        </span>
        <input
          class='field-value'
          type='text'
          name='system.gainedKnowledge'
          value='{{system.gainedKnowledge}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>

    <div class='section-label red'>
      {{localize 'NEONRELIC.NPC.EngagementResults'}}
    </div>
    <div class='field-row'>
      <div class='field-col'>
        <span class='field-label'>
          {{localize 'NEONRELIC.NPC.PositiveResult'}}
        </span>
        <input
          class='field-value med'
          type='text'
          name='system.positiveResult'
          value='{{system.positiveResult}}'
          {{disabled (not isEditable)}}
        />
      </div>
      <div class='field-col'>
        <span class='field-label'>
          {{localize 'NEONRELIC.NPC.NegativeResult'}}
        </span>
        <input
          class='field-value med'
          type='text'
          name='system.negativeResult'
          value='{{system.negativeResult}}'
          {{disabled (not isEditable)}}
        />
      </div>
    </div>

    {{! DA Description/Notes }}
    <div class='section-label'>{{localize 'NEONRELIC.NPC.DANotes'}}</div>
    <div class='npc-description'>
      <div class='editor'>{{{enrichedDescription}}}</div>
    </div>
  </section>
{{/if}}