{{! Step 5: Starting Equipment }}
<div class='wizard-step-gear'>
  <p class='step-description'>
    {{localize 'NEONRELIC.Wizard.Gear.Description'}}
  </p>

  {{! CL Pool display }}
  <div class='cl-pool-bar'>
    <span class='cl-label'>CL Pool: <strong>{{clPool}}</strong></span>
  </div>

  {{#if divisionItem}}
    <div class='gear-section'>
      <h3>{{localize 'NEONRELIC.Wizard.Gear.DivisionItem'}}</h3>
      <div class='gear-item division-item' data-uuid='{{divisionItem.uuid}}'>
        <img src='{{divisionItem.img}}' alt='{{divisionItem.name}}' />
        <span class='gear-name'>{{divisionItem.name}}</span>
        <button
          type='button'
          class='info-btn'
          data-action='viewCompendiumItem'
          data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
        >
          <i class='fas fa-circle-info'></i>
        </button>
      </div>
    </div>
  {{/if}}

  {{#if gearItems.length}}
    <div class='gear-section'>
      <h3>{{localize 'NEONRELIC.Wizard.Gear.StartingKit'}}</h3>
      <div class='gear-list'>
        {{#each gearItems as |item|}}
          <div class='gear-item' data-uuid='{{item.uuid}}'>
            <img src='{{item.img}}' alt='{{item.name}}' />
            <span class='gear-name'>{{item.name}}</span>
            <span class='gear-type'>{{item.type}}</span>
            <button
              type='button'
              class='info-btn'
              data-action='viewCompendiumItem'
              data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
            >
              <i class='fas fa-circle-info'></i>
            </button>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p class='wizard-info'>{{localize 'NEONRELIC.Wizard.Gear.NoGear'}}</p>
  {{/if}}

  {{! Requisitionable items }}
  {{#if requisitionGear.length}}
    <div class='gear-section'>
      <h3>{{localize 'NEONRELIC.Wizard.Gear.Requisition'}} (CL {{clPool}})</h3>
      <div class='requisition-list'>
        {{#each requisitionGear}}
          <div class='req-item' data-uuid='{{this.uuid}}' data-cl='{{this.cl}}'>
            <img src='{{this.img}}' alt='{{this.name}}' />
            <span class='req-name'>{{this.name}}</span>
            <span class='req-cl'>CL {{this.cl}}</span>
            <span class='req-type'>{{this.type}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>