{{! Step 8: Choose Starting Talents }}
<div class='wizard-step-talents'>
  <p class='step-description'>
    {{localize 'NEONRELIC.Wizard.Talents.Description'}}
  </p>

  <div class='talent-slots'>
    <div class='talent-slot' data-slot='1'>
      <div class='slot-header'>
        <h3>{{localize 'NEONRELIC.Wizard.Talents.Slot1'}}</h3>
        <button type='button' class='browse-slot-btn' data-action='browseTalents' data-slot-type='division'>
          <i class='fas fa-search'></i>
          {{localize 'NEONRELIC.Wizard.Talents.Browse'}}
        </button>
      </div>
      <div class='talent-drop-zone' data-slot-type='division'>
        {{#each talentSlots as |talent|}}
          {{#if (eq talent.system.talentType 'division')}}
            <div class='talent-item' data-item-id='{{talent.id}}'>
              <img src='{{talent.img}}' alt='{{talent.name}}' />
              <span>{{talent.name}}</span>
              <button
                type='button'
                class='info-btn'
                data-action='viewItem'
                data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
              >
                <i class='fas fa-circle-info'></i>
              </button>
              <button type='button' class='remove-talent' data-action='removeTalent' data-item-id='{{talent.id}}'>
                <i class='fas fa-times'></i>
              </button>
            </div>
          {{/if}}
          {{#if (eq talent.system.talentType 'general')}}
            <div class='talent-item' data-item-id='{{talent.id}}'>
              <img src='{{talent.img}}' alt='{{talent.name}}' />
              <span>{{talent.name}}</span>
              <button
                type='button'
                class='info-btn'
                data-action='viewItem'
                data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
              >
                <i class='fas fa-circle-info'></i>
              </button>
              <button type='button' class='remove-talent' data-action='removeTalent' data-item-id='{{talent.id}}'>
                <i class='fas fa-times'></i>
              </button>
            </div>
          {{/if}}
        {{/each}}
        <p class='slot-empty'>
          {{localize 'NEONRELIC.Wizard.Talents.SlotEmpty'}}
        </p>
      </div>
    </div>

    <div class='talent-slot' data-slot='2'>
      <div class='slot-header'>
        <h3>{{localize 'NEONRELIC.Wizard.Talents.Slot2'}}</h3>
        <button type='button' class='browse-slot-btn' data-action='browseTalents' data-slot-type='subunit'>
          <i class='fas fa-search'></i>
          {{localize 'NEONRELIC.Wizard.Talents.Browse'}}
        </button>
      </div>
      <div class='talent-drop-zone' data-slot-type='subunit'>
        {{#each talentSlots as |talent|}}
          {{#if (eq talent.system.talentType 'subunit')}}
            <div class='talent-item' data-item-id='{{talent.id}}'>
              <img src='{{talent.img}}' alt='{{talent.name}}' />
              <span>{{talent.name}}</span>
              <button
                type='button'
                class='info-btn'
                data-action='viewItem'
                data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
              >
                <i class='fas fa-circle-info'></i>
              </button>
              <button type='button' class='remove-talent' data-action='removeTalent' data-item-id='{{talent.id}}'>
                <i class='fas fa-times'></i>
              </button>
            </div>
          {{/if}}
        {{/each}}
        <p class='slot-empty'>
          {{localize 'NEONRELIC.Wizard.Talents.SlotEmpty'}}
        </p>
      </div>
    </div>

    <div class='talent-slot' data-slot='3'>
      <div class='slot-header'>
        <h3>{{localize 'NEONRELIC.Wizard.Talents.Slot3'}}</h3>
        <button type='button' class='browse-slot-btn' data-action='browseTalents' data-slot-type='background'>
          <i class='fas fa-search'></i>
          {{localize 'NEONRELIC.Wizard.Talents.Browse'}}
        </button>
      </div>
      <div class='talent-drop-zone' data-slot-type='background'>
        {{#each talentSlots as |talent|}}
          {{#if (eq talent.system.talentType 'background')}}
            <div class='talent-item' data-item-id='{{talent.id}}'>
              <img src='{{talent.img}}' alt='{{talent.name}}' />
              <span>{{talent.name}}</span>
              <button
                type='button'
                class='info-btn'
                data-action='viewItem'
                data-tooltip='{{localize "NEONRELIC.Wizard.ViewDetails"}}'
              >
                <i class='fas fa-circle-info'></i>
              </button>
              <button type='button' class='remove-talent' data-action='removeTalent' data-item-id='{{talent.id}}'>
                <i class='fas fa-times'></i>
              </button>
            </div>
          {{/if}}
        {{/each}}
        <p class='slot-empty'>
          {{localize 'NEONRELIC.Wizard.Talents.SlotEmpty'}}
        </p>
      </div>
    </div>
  </div>

  <p class='drop-hint'>
    <i class='fas fa-hand-pointer'></i>
    {{localize 'NEONRELIC.Wizard.Talents.DropHint'}}
  </p>
</div>