{{! Step 9: Anchor & Dark Secret }}
<div class='wizard-step-anchorsecret'>
  <p class='step-description'>
    {{localize 'NEONRELIC.Wizard.AnchorSecret.Description'}}
  </p>

  <div class='anchorsecret-sections'>
    {{! Anchor Section }}
    <div class='anchor-section'>
      <h3>{{localize 'NEONRELIC.Wizard.AnchorSecret.AnchorLabel'}}</h3>
      {{#if anchor}}
        <div class='anchor-item'>
          <span class='anchor-name'>{{anchor.name}}</span>
          <span class='anchor-relationship'>{{anchor.system.relationship}}</span>
          <button type='button' data-action='removeAnchor' data-item-id='{{anchor.id}}'>
            <i class='fas fa-times'></i>
          </button>
        </div>
      {{else}}
        <div class='anchor-controls'>
          <button type='button' data-action='rollAnchor'>
            <i class='fas fa-dice'></i>
            {{localize 'NEONRELIC.Wizard.AnchorSecret.RollAnchor'}}
          </button>
          <button type='button' data-action='customAnchor'>
            <i class='fas fa-pen'></i>
            {{localize 'NEONRELIC.Wizard.AnchorSecret.CustomAnchor'}}
          </button>
        </div>
      {{/if}}
    </div>

    {{! Dark Secret Section }}
    <div class='darksecret-section'>
      <h3>{{localize 'NEONRELIC.Wizard.AnchorSecret.DarkSecretLabel'}}</h3>
      {{#if darkSecret}}
        <div class='darksecret-item'>
          <span class='darksecret-name'>{{darkSecret.name}}</span>
          <button type='button' data-action='removeDarkSecret' data-item-id='{{darkSecret.id}}'>
            <i class='fas fa-times'></i>
          </button>
        </div>
      {{else}}
        <button type='button' data-action='openDarkSecretCompendium'>
          <i class='fas fa-book-open'></i>
          {{localize 'NEONRELIC.Wizard.AnchorSecret.BrowseSecrets'}}
        </button>
      {{/if}}
    </div>
  </div>
</div>