{{! Step 4: Choose Your Specialty }}
<div class='wizard-step-specialty'>
  <p class='step-description'>
    {{localize 'NEONRELIC.Wizard.Specialty.Description'}}
  </p>

  {{#if specialtyChoices.length}}
    <div class='specialty-list'>
      {{#each specialtyChoices as |sp|}}
        <label class='specialty-option {{sp.cssClass}}'>
          {{#if sp.selected}}
            <input type='radio' name='system.specialty' value='{{sp.name}}' checked />
          {{else}}
            <input type='radio' name='system.specialty' value='{{sp.name}}' />
          {{/if}}
          <div class='specialty-card-body'>
            <span class='specialty-name'>{{sp.name}}</span>
            {{#if sp.description}}
              <p class='specialty-description'>{{sp.description}}</p>
            {{/if}}
          </div>
        </label>
      {{/each}}
    </div>
  {{else}}
    <p class='wizard-warning'>
      {{localize 'NEONRELIC.Wizard.Specialty.NoSubUnit'}}
    </p>
  {{/if}}
</div>