<div class='vehicle-sheet {{statusClass}}'>
  {{! Header }}
  <header class='vehicle-header'>
    <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
    <div class='header-fields'>
      <h1>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='{{localize "NEONRELIC.Vehicle.Name"}}'
          {{disabled (not isEditable)}}
        />
      </h1>
      <span class='sheet-type'>{{localize 'NEONRELIC.Vehicle.SheetType'}}</span>
    </div>
  </header>

  {{! Stat Grid }}
  <div class='section-title'>
    {{localize 'NEONRELIC.Vehicle.Specifications'}}
  </div>
  <div class='stat-grid'>
    <div class='stat-cell'>
      <span class='stat-label'>{{localize 'NEONRELIC.Vehicle.Speed'}}</span>
      <input
        class='stat-value'
        type='number'
        name='system.speed'
        value='{{system.speed}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>{{localize 'NEONRELIC.Vehicle.AR'}}</span>
      <input
        class='stat-value'
        type='number'
        name='system.ar'
        value='{{system.ar}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>
        {{localize 'NEONRELIC.Vehicle.Reliability'}}
      </span>
      <input
        class='stat-value'
        type='number'
        name='system.reliability'
        value='{{system.reliability}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>
        {{localize 'NEONRELIC.Vehicle.Handling'}}
      </span>
      <input
        class='stat-value'
        type='number'
        name='system.handling'
        value='{{system.handling}}'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>
        {{localize 'NEONRELIC.Vehicle.Capacity'}}
      </span>
      <input
        class='stat-value'
        type='number'
        name='system.capacity'
        value='{{system.capacity}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>{{localize 'NEONRELIC.Vehicle.Noise'}}</span>
      <input
        class='stat-value'
        type='number'
        name='system.noise'
        value='{{system.noise}}'
        min='0'
        {{disabled (not isEditable)}}
      />
    </div>
    <div class='stat-cell'>
      <span class='stat-label'>
        {{localize 'NEONRELIC.Vehicle.SneakMod'}}
      </span>
      <input
        class='stat-value'
        type='number'
        name='system.sneakModifier'
        value='{{system.sneakModifier}}'
        {{disabled (not isEditable)}}
      />
    </div>
  </div>

  {{! Wear Track }}
  <div class='section-title red'>{{localize 'NEONRELIC.Vehicle.Wear'}}</div>
  <div class='wear-tracker'>
    <div class='wear-pips'>
      {{#each wearPips}}
        <span class='{{this.cssClass}}'></span>
      {{/each}}
    </div>
    <div class='wear-input'>
      <input type='number' name='system.wear' value='{{system.wear}}' min='0' {{disabled (not isEditable)}} />
      <span class='wear-threshold'>/ {{system.reliability}}</span>
    </div>
    {{#if system.hasProblem}}
      <div class='status-badge warning'>
        {{localize 'NEONRELIC.Vehicle.Problem'}}
      </div>
    {{/if}}
    {{#if system.isStopped}}
      <div class='status-badge critical'>
        {{localize 'NEONRELIC.Vehicle.Stopped'}}
      </div>
    {{/if}}
  </div>

  {{! Description }}
  <div class='section-title'>{{localize 'NEONRELIC.Description'}}</div>
  <div class='description'>
    <div class='editor'>{{{enrichedDescription}}}</div>
  </div>
</div>